@font-face {
  font-family: 'Times New Roman', Times, serif;
  src: url('/');
}

:root {
  --cor0:#004C61;
  --cor1:#49C4E6;
  --cor2:#00B0E0;
  --cor3:#48636B;
  --cor4:#0090B8;
  --fonteprincipal:var(--fonteprincipal)
}

*{
  margin: 0;
  border: 0;
  padding: 0;
}
#logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 180px;
  width: 150px;

}
nav {margin-top: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
  
}
div .menu-link { 
  height: 180px;
  width: 150px;
 
}
.nav-bar {  
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 10px;
  padding: 10px;
  padding-left: 10%;
  padding-right: 10%;
background-color: var(--cor1);
}
.nav-link img:hover{ 
  background-color: var(--cor3);
  transition-duration: 0.3s


}
.nav-link img { border-radius: 5px;
  margin-inline: 6%;
  width: 60px;
  height: 60px;
  padding: 5px;
}
main h2{ 
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: 5px solid rgba(0, 0, 0, 0.487);
}
main{text-align: center;
  background-color:var(--cor0);
  font-family: var();
}

div .menu  {
  width: 100px;
  height: 100px;
  
}

header { 
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
  height: 6em;
  width: 100%;
  background-image: linear-gradient(to bottom,rgb(29, 29, 29),#48636B);
}
body{max-width:800px; 
  min-width: 400px;
  background-color:var(--cor3);
  margin-left: auto;
    margin-right: auto;
    width: 6em
}

div.video{
  background-color: var(--cor3);
  margin: 0px -20px 30px -20px;
  padding: 20px;
  padding-bottom: 50%;
  position: relative;

}
div.video > iframe{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;

}